/* ГЛОБАЛЬНЫЕ СТИЛИ */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* ОБЩИЕ СТИЛИ */

.container {
  width: 1146px;
  margin: 0 auto;
}

.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  color: #ffffff;
  vertical-align: middle;

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 25px;

  cursor: pointer;
}

.button:hover,
.button:focus {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}

.button:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to top, #e74a35, #f26843);
}

.site-wrapper {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png");
}

/* HEADER  */

.main-header .container,
.inner-page .main-header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.inner-page .main-header {
  margin-bottom: -22px;
}

.main-header-logo {
  display: block;
  width: 154px;
  height: 64px;
  padding-top: 10px;
}

.main-navigation {
  display: flex;
  width: 990px;
  margin-left: auto;
  padding-top: 21px;

  line-height: 18px;
  font-weight: 700;
}

.site-navigation,
.user-navigation,
.drop-down-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  padding-left: 5px;
}

.button-nav {
  display: inline-block;
   padding-bottom: 1px;
   vertical-align: middle;
}

.site-navigation-item {
  position: relative;
  padding: 1px 2px;
}

.site-navigation-item>a {
  padding: 8px 13px 7px;

  color: #ffffff;
}

/* подчеркивание через псевдо */
.site-navigation-item>a::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;

  background: rgba(255, 255, 255, 0.2);
}

.site-navigation-current>a::after {
  content: "";

  background: none;
}

.site-navigation-item>a:hover,
.site-navigation-item>a:focus {
  padding: 8px 13px 7px;

  color: #323232;

  background-color: #f7f6f3;
  border-radius: 25px;
}

.site-navigation-item>a:active {
  padding: 8px 13px 7px;

  color: #323232;

  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
  border-radius: 25px;
}

.site-navigation-current>a,
.site-navigation-current>a:hover,
.site-navigation-current>a:focus,
.site-navigation-current>a:active {
  color: #ffffff;

  background-color: #d07058;
  border-radius: 25px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-grow: 1;
  width: 280px;
}

.user-navigation-item {
  position: relative;
  padding: 1px 3px;
  margin-right: -2px;
  margin-left: 6px;
}

.user-navigation-item>a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.user-navigation-item span {
  padding-left: 4px;
}

.button-search {
  padding: 7px;
}

.button-login,
.button-cart {
  padding: 7px 18px;
}

.button-search:hover path,
.button-search:focus path,
.button-login:hover path,
.button-login:focus path {
  fill: #323232;
}

.user-navigation .button-cart:hover,
.user-navigation .button-cart:focus {
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation .button-full-cart,
.user-navigation .button-full-cart:hover,
.user-navigation .button-full-cart:focus,
.user-navigation .button-full-cart:active {
  color: #323232;

  background-color: rgb(248, 247, 244, 0.99);
}

.contacts {
  width: 200px;
  margin-left: auto;

  text-align: right;
}

.contacts p {
  margin: 0;
  margin-top: -4px;
}

.contacts span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.contacts a {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

/* ВСПЛЫВАЮЩИЕ МЕНЮ */

.drop-down-list {
  display: none;
  position: absolute;
  top: 38px;
  left: -5px;
  z-index: 1;
}

.popup-search {
  display: none;
  position: absolute;
  top: 38px;
  right: 3px;
  z-index: 2;
}

.popup-login {
  display: none;
  position: absolute;
  top: 38px;
  right: 1px;
  z-index: 2;
}

.shopping-cart {
  display: none;
  position: absolute;
  top: 38px;
  right: 1px;
  z-index: 2;
}

.site-navigation-catalog:hover .drop-down-list,
.user-navigation-search:hover .popup-search,
.user-navigation-login:hover .popup-login,
.user-navigation-cart:hover .shopping-cart {
  display: block;
}

.drop-down-list {
  width: 143px;

  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
}

.drop-down-list .new-items {
  display: block;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: 700;
}

.drop-down-list .new-items::after {
  position: absolute;
  display: block;
  content: "";
  width: 121px;
  height: 1px;
  left: 6px;
  bottom: 0;

  background: rgba(0, 0, 0, 0.2);
}

.drop-down-list a {
  display: block;
  padding-left: 21px;
  padding-top: 9px;
  padding-bottom: 6px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.drop-down-list .melorin-items {
  padding-bottom: 13px;
}

.drop-down-list li:hover:not(:first-child),
.drop-down-list li:focus:not(:first-child) {
  background-color: rgb(251, 222, 215);
}

.drop-down-list li:active:not(:first-child) {
  background-color: rgb(246, 181, 165);
}

.drop-down-list .active-item:not(:first-child),
.drop-down-list .active-item:hover:not(:first-child),
.drop-down-list .active-item:focus:not(:first-child),
.drop-down-list .active-item:active:not(:first-child) {
  background-color: rgb(208, 112, 88);
}

.popup-search {
  box-sizing: border-box;
  width: 341px;
  padding: 20px 15px;

  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
}

.search-form input {
  box-sizing: border-box;
  width: 100%;
  padding: 13px;

  border: none;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #b2b2b2;
}

.search-form input::-webkit-input-placeholder,
.login-form input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.search-form input::-moz-placeholder,
.login-form input::-moz-placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.search-form input:-ms-input-placeholder,
.login-form input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.search-form input::-ms-input-placeholder,
.login-form input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.search-form input::-webkit-input-placeholder,
.login-form input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.search-form input::-moz-placeholder,
.login-form input::-moz-placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.search-form input:-ms-input-placeholder,
.login-form input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.search-form input::-ms-input-placeholder,
.login-form input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.search-form input::-webkit-input-placeholder, .login-form input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.search-form input::-moz-placeholder, .login-form input::-moz-placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.search-form input:-ms-input-placeholder, .login-form input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.search-form input::-ms-input-placeholder, .login-form input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.search-form input::placeholder,
.login-form input::placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.popup-login {
  box-sizing: border-box;
  width: 277px;
  padding: 20px 19px;

  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
}

.login-form p {
  margin: 0;
  margin-bottom: 20px;
}

.login-form input {
  box-sizing: border-box;
  width: 100%;
  padding: 13px;

  border: none;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #b2b2b2;
}

.wrapper-restore {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.popup-login .button {
  padding: 11px 25px;
}

.popup-login .restore {
  width: 50%;
  margin-bottom: 0;
}

.restore a {
  display: block;
  margin-bottom: -3px;

  text-align: left;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  text-decoration: underline;
}

.restore a:hover,
.restore a:focus,
.restore a:active {
  color: #e84d37;
}

.shopping-cart {
  box-sizing: border-box;
  width: 540px;
  padding: 17px 14px;

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
}

.shopping-cart-table {
  width: 100%;
  border-collapse: collapse;
}

.shopping-cart-table td {
  padding-bottom: 14px;
  padding-top: 11px;

  vertical-align: top;
}

.shopping-cart-table .cell-1 {
  width: 16px;
}

.shopping-cart-table .cell-2 {
  width: 33px;
  padding-top: 4px;
}

.shopping-cart-table .cell-3 {
  width: 181px;
}

.shopping-cart-table .cell-4 {
  width: 90px;
}

.shopping-cart-table .cell-5 {
  width: 50px;
}

.shopping-cart-table .cell-6 {
  padding: 16px 3px 12px 3px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align: right;
}

.shopping-cart-table .button-cross {
  width: 11px;
  height: 11px;

  border: none;
  background: url("../img/cross-small.svg") no-repeat;
  background-position: top center;
  cursor: pointer;
}

.wrapper-button-cart {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.shopping-cart .button {
  padding: 10px 15px;
  margin-bottom: 5px;
}

.shopping-cart-table tr:nth-child(2) {
  border-bottom: 1px solid #cacac7;
}

/* СЛАЙДЕР */

.slider {
  position: relative;
  margin-bottom: 42px;
  padding-top: 275px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider .button {
  padding: 11px 44px;

  font-size: 31px;
  line-height: 41px;

  border-radius: 50px;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover,
.slider-controls label:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider-controls label:active {
  background-color: #ffffff;
}

#product-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#product-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#product-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
  display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/* СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ */

.special-offers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  font-size: 18px;
  font-weight: 700;  
}

.special-offers h3 {
  margin: 0;
  margin-bottom: 15px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.special-offers p {
  margin: 0;
  margin-bottom: 43px;
}

.special-offers .button {
  padding: 11px 24px;
  margin-bottom: 8px;
}

.raspberry-stock {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 560px;
  margin-right: 26px;
  padding: 16px 19px;

  background-color: #a23552;
  background: url("../img/raspberry-bg.jpg") no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.chocolate-stock {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 560px;
  padding: 16px 19px;

  background-color: #24130a;
  background: url("../img/choсolate-bg.jpg") no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.raspberry-stock .button,
.chocolate-stock .button {
  align-self: flex-end;
  margin-left: auto;
}

/* ХИТЫ ПРОДАЖ И КАТАЛОГ СЛИВОЧНОГО МОРОЖЕНОГО */

.catalog {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 29px;
  margin-bottom: 18px;
}

.bestseller-item span,
.catalog-item span {
  position: absolute;
  top: 208px;
  left: -1px;

  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  letter-spacing: 1px;
}

.bestseller-item b,
.catalog-item b {
  font-size: 45px;
}

.bestseller-item a,
.catalog-item a {
  position: relative;
  text-align: center;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.bestseller-item .bestseller-item-title,
.catalog-item .catalog-item-title {
  width: 258px;
  padding-left: 4px;
  margin: 0;

  text-align: center;
}

.bestseller-item-title a,
.catalog-item-title a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.bestseller-item div,
.catalog-item div {
  margin-bottom: 6px;
}

.bestsellers-list,
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-list {
  margin-bottom: 39px;
}

.bestseller-item,
.catalog-item {
  position: relative;
  width: 267px;
  margin-bottom: 38px;
  margin-right: 26px;  
}

.bestseller-item:nth-child(4n),
.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.bestseller-item::before {
  position: absolute;
  content: url("../img/hit.svg");
  width: 61px;
  height: 61px;
  top: 0;
  left: 0;
  z-index: 1;
}

.wrapper-button {
  position: absolute;
  display: none;
  top: -7px;
  left: -14px;
  z-index: 10;
    width: 100%;
  height: 100%;
  padding: 0px 13px 81px;

  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
}

.bestsellers .button,
.catalog .button {
  position: absolute;
  bottom: 22px;
  left: 16%;
  padding: 10px 17px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.bestseller-item:hover .wrapper-button,
.catalog-item:hover .wrapper-button {
  display: block;
  z-index: 10;
  cursor: pointer;
}

/* ПРЕИМУЩЕСТВА */

.features {
  padding: 23px 26px 25px 20px;
  margin-bottom: 40px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;

  background-color: #efe4cb;
  background-image: url("../img/waffle-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.features p {
  margin: 0;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-item {
  position: relative;
  width: 477px;
  padding-top: 22px;
  padding-left: 56px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.feature-item-icecream:before {
  position: absolute;
  top: 8px;
  left: 0;

  content: url("../img/ice-cream.svg");
}

.feature-item-cow:before {
  position: absolute;
  top: 8px;
  left: -1px;

  content: url("../img/cow.svg");
}

.feature-item-eco:before {
  position: absolute;
  top: 8px;
  left: 0;

  content: url("../img/eco.svg");
}

.feature-item-thermometer:before {
  position: absolute;
  top: 8px;
  left: -1px;

  content: url("../img/thermometer.svg");
}

/* НОВОЕ В БЛОГЕ */

.index-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.blog-news {
  width: 534px;
  padding: 22px 19px;
  margin-right: 26px;

  background-color: #ffffff;
  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.blog-news h2 {
  margin: 0;
  margin-bottom: 5px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.blog-news a {
  display: block;
  margin-bottom: 58px;
  width: 282px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
}

.blog-news a:hover,
.blog-news a:focus,
.blog-news a:active {
  color: #e84d37;
}

/* ПОДПИСКА */

.subscription {
  width: 560px;
  padding: 5px;
  color: #5a5a5a;

  background-color: #92cdff;
  background-image: url("../img/bg-post.svg");
  background-repeat: repeat-y;
  background-position: 0 0;
  border-radius: 15px;
}

.wrapper-subscription {
  padding: 28px 20px 35px 20px;

  background-color: #f8f7f4;
  border-radius: 15px;
}

.wrapper-subscription p {
  margin: 0;
  margin-bottom: 35px;
}

.subscription-form input {
  box-sizing: border-box;
  width: 368px;
  margin-right: 7px;
  padding: 12px;

  border-radius: 10px;
  border: solid 1px rgba(178, 178, 178, 0.52);
}

.subscription .button {
  padding: 10px 19px;
}

/* КАРТА И КОНТАКТЫ */

.gllacy-map {
  position: relative;
  width: 100%;
  height: 430px;
}

.gllacy-map img {
  position: absolute;
  display: block;
  z-index: 1;
  width: 100%;
  height: 430px;

  text-align: center;
}

.gllacy-map iframe {
  position: absolute;
  z-index: 3;
  width: 100%;

  border: none;
}

.gllacy-map .wrapper-img::before {
  position: absolute;
  content: url("../img/pin.svg");
  width: 80px;
  height: 140px;
  top: 32%;
  left: 32%;
  z-index: 2;
}

.wrapper-contacts {
  position: absolute;
  z-index: 10;
  width: 252px;
  padding: 29px 25px;
  top: calc(50% - 152px);
  right: calc(50% - 573px);

  font-size: 14px;
  line-height: 20px;
  color: #323232;
  text-align: left;

  background-color: rgba(255, 255, 255, 0.98);
}

.wrapper-contacts p {
  width: 222px;
  margin: 0;
  margin-bottom: 19px;
}

.wrapper-contacts b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.wrapper-contacts .phone-number {
  display: block;
  margin-top: 5px;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
}

.wrapper-contacts .button {
  padding: 11px 27px;
  margin-top: 3px;

  color: #ffffff;
}

/* ХЛЕБНЫЕ КРОШКИ В КАТАЛОГЕ */

.inner-page h1 {
  margin: 0;
  margin-bottom: 26px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 2px;

  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  margin-right: 17px;
}

.breadcrumbs li::after {
  content: "»";

  position: absolute;
  top: 0px;
  right: -15px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs-current::after {
  display: none;
}

/* СОРТИРОВКА И ФИЛЬТРЫ */

.sorting-filtres-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 885px;
  margin-bottom: 23px;
}

.sorting-filtres fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 14px;
  margin-bottom: 16px;
}

.sorting-filtres-form legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.sorting-cover,
.filter-cover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}


.sorting-filtres-form .sorting {
  width: 196px;
}

.sorting legend {
  padding-left: 16px;
  margin-bottom: 6px;
}

.sorting select[name="sorting"] {
  padding: 8px 14px;
  padding-right: 34px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 92% 50%;
  border: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sorting select[name="sorting"]::-ms-expand {
  display: none;
}

.sorting select[name="sorting"]:hover,
.sorting select[name="sorting"]:focus {
  color: #323232;

  background-image: url("../img/icon-down-dir.svg");
}

.sorting option {
  display: block;
  padding: 10px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.filter-range {
  width: 217px;
}

.filter-range legend {
  padding-left: 13px;
  margin-bottom: 4px;
}

.price-controls {
  display: inline-block;
  vertical-align: middle;
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  vertical-align: top;
}

.price-controls input {
  width: 28px;
  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;
  box-sizing: border-box;
  width: 220px;
  padding-top: 15px;
  padding-left: 21px;
  padding-right: 24px;
  padding-bottom: 16px;
}

.range-controls .scale {
  height: 4px;

  background: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
  width: 55%;
  height: 4px;
  margin-left: 20px;

  background: rgb(248, 247, 244);
}

.range-toggle {
  position: absolute;
  top: 7px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 2px;

  border: 8px solid rgb(255, 255, 255);
  background-color: rgb(171, 171, 171);
  border-radius: 50%;
}

.range-controls .range-toggle:hover {
  top: 5px;

  border-width: 10px;
  cursor: pointer;
}

.range-controls .range-toggle-min {
  left: 33px;
}

.range-controls .range-toggle-min:hover {
  left: 31px;
}

.range-controls .range-toggle-max {
  left: 132px;
}

.range-controls .range-toggle-max:hover {
  left: 130px;
}

.filter-fat {
  width: 410px;
}

.filter-topping {
  width: 705px;
}

.filter-fat-list,
.filter-topping-list {
  padding: 0;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 7px;

  list-style: none;
}

.filter-fat-list {
  padding-left: 45px;
}

.filter-topping-list {
  padding-left: 47px;
}

.filter-fat legend {
  padding-left: 13px;
  margin-bottom: 6px;
}

.filter-topping legend {
  padding-left: 14px;
  margin-bottom: 6px;
}

.filter-fat-item,
.filter-topping-item {
  display: inline-block;
  vertical-align: top;
}

.filter-fat-item {
  margin-right: 46px;
}

.filter-fat-item:last-child {
  margin-right: 0;
}

.filter-topping-item {
  margin-right: 50px;
}

.filter-topping-item:last-child {
  margin-right: 0;
}

.filter-fat-item label {
  line-height: 22px;
  font-weight: 400;

  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-topping-item label {
  position: relative;
  display: block;

  line-height: 22px;
  font-weight: 400;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-input-radio+label::before {
  content: "";

  position: absolute;
  top: -1px;
  left: -33px;

  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-input-checkbox+label::before {
  content: "";

  position: absolute;
  top: -1px;
  left: -32px;

  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-input-radio+label::before {
  width: 26px;
  height: 26px;

  background-image: url("../img/radio-off.svg");
}

.filter-input-checkbox+label::before {
  width: 24px;
  height: 24px;

  background-image: url("../img/checkbox-off.svg");
}

.filter-input-radio:checked+label::before {
  width: 26px;
  height: 26px;

  background-image: url("../img/radio-on.svg");
}

.filter-input-checkbox:checked+label::before {
  width: 28px;
  height: 24px;

  background-image: url("../img/checkbox-on.svg");
}

.filter-input:disabled+label {
  cursor: default;
  opacity: 0.4;
  outline: none;
}

.filter-input:hover+label::before,
.filter-input:focus+label::before {
  opacity: 1;
  outline: 2px solid #4D90FE;
}

.button-filter {
  padding: 7px 26px;
  margin-top: 21px;
  
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-shadow: none;

  border: solid 2px #ffffff;
  background: none;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
}

.button-filter:hover,
.button-filter:focus {
  color: #323232;
  box-shadow: none;

  background-image: none;
  background-color: #ffffff;
  border: solid 2px #ffffff;
}

.button-filter:active {
  padding: 7px 23px;

  color: #323232;

  background-image: none;
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
  border: none;
}

/* ПАГИНАЦИЯ */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-item {
  margin-left: 3px;
  width: 25px;
}

.pagination-item a {
  display: block;
  width: 27px;
  height: 27px;

  font-size: 16px;
  line-height: 27px;
  font-weight: 500;
  color: #ffffff;

  text-align: center;
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: #323232;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pagination-item a:active,
.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #323232;
  
  background-color: #ffffff;
  border-radius: 50%;
}

.pagination-item-back,
.pagination-item-next {
  position: relative;
}

.back-disabled svg {
  position: absolute;
  top: 47%;
  left: -2px;
  fill: rgba(255, 255, 255, 0.2);
  -webkit-transform: scaleX(-1) translate(-50%, -50%);
  transform: scaleX(-1) translate(-50%, -50%);
  cursor: default;
}

.pagination-item-next svg {
  position: absolute;
  top: 47%;
  right: -3px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 8px;
  height: 12px;
}

.pagination-item-back a:hover,
.pagination-item-back a:focus,
.pagination-item-back a:active,
.pagination-item-next a:hover,
.pagination-item-next a:focus,
.pagination-item-next a:active {
  background-color: transparent;
}

/* ПОДВАЛ */

.main-page .footer {
  padding: 19px 27px;

  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.footer .container,
.inner-page .footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.socialmedia-list {
  display: flex;
  flex-wrap: wrap;
  width: 194px;
  margin: 0;
  margin-right: 228px;
  padding: 0;
  padding-top: 17px;

  list-style: none;
}

.socialmedia-item {
  width: 40px;
  margin-right: 9px;
  margin-bottom: 9px;
}

.socialmedia-item:nth-child(4n) {
  margin-right: 0;
}

.socialmedia-button path {
  fill: rgba(255, 255, 255, 0.8);
}

.socialmedia-button:hover path,
.socialmedia-button:focus path {
  fill: #ffffff;
}

.socialmedia-button:active path,
.socialmedia-button:active path {
  background-color: #e9e9e9;
}

.socialmedia-button {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.information-list {
  width: 330px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-right: auto;
  margin-bottom: 11px;
  padding: 0;
  padding-top: 15px;
}

.inner-page .information-list {
  padding-top: 12px;
}

.information-list a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.information-item {
  position: relative;
  margin-bottom: 4px;
}

.inner-page .information-item {
  margin-bottom: 0;
}

.information-item:nth-child(odd) {
  width: 43%;
}

.information-item:nth-child(even) {
  width: 57%;
}

.information-item-shipper a {
  position: relative;
  font-weight: 700;
}

.information-item-shipper::before {
  position: absolute;
  content: url("../img/heart.svg");
  top: 4px;
  left: -22px;
  width: 15px;
  height: 13px;

  font-weight: 700;
}

.copyright {
  width: 190px;
}

.inner-page .copyright {
  padding-top: 1px;
}

.copyright p {
  margin: 0;

  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.copyright a:last-child {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #fefefe;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.information-list a:hover,
.information-list a:focus,
.information-list a:active,
.copyright a:hover:last-child,
.copyright a:focus:last-child,
.copyright a:active:last-child {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

/* ФОРМА ОБРАТНОЙ СВЯЗИ */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes bounceOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
}

@keyframes bounceOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
}

@-webkit-keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.modal-feedback {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 25;
  width: 430px;
  margin-top: -131px;
  margin-left: -238px;
  padding: 16px 24px;

  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.40);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.modal-out {
  -webkit-animation: bounceOut 0.6s;
  animation: bounceOut 0.6s;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 18px;
  height: 18px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -2px;

  width: 22px;
  height: 2px;

  background-color: #231f20;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback-form {
  box-sizing: border-box;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.feedback-form p {
  margin: 0;
  margin-bottom: 19px;
}

.feedback-form p:last-child {
  margin-bottom: 0;

  text-align: right;
}

.feedback-form input {
  width: 238px;
  padding: 12px 14px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  border: solid 1px rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.feedback-form input:hover,
.feedback-form input:focus,
.feedback-form input:active {
  padding: 11px 13px;

  border: solid 2px rgba(154, 154, 154, 0.52);
}

.feedback-form textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 11px 14px;
  min-height: 155px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  border: solid 1px rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.feedback-form textarea:hover,
.feedback-form textarea:focus,
.feedback-form textarea:active {
  padding: 10px 13px;
  
  border: solid 2px rgba(154, 154, 154, 0.52);
}

.feedback-form input::-webkit-input-placeholder,
.feedback-form textarea::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.feedback-form input::-moz-placeholder,
.feedback-form textarea::-moz-placeholder {
  font-weight: 400;
  color: #999999;
}

.feedback-form input:-ms-input-placeholder,
.feedback-form textarea:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.feedback-form input::-ms-input-placeholder,
.feedback-form textarea::-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.feedback-form input::-webkit-input-placeholder,
.feedback-form textarea::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.feedback-form input::-moz-placeholder,
.feedback-form textarea::-moz-placeholder {
  font-weight: 400;
  color: #999999;
}

.feedback-form input:-ms-input-placeholder,
.feedback-form textarea:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.feedback-form input::-ms-input-placeholder,
.feedback-form textarea::-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.feedback-form input::-webkit-input-placeholder, .feedback-form textarea::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.feedback-form input::-moz-placeholder, .feedback-form textarea::-moz-placeholder {
  font-weight: 400;
  color: #999999;
}

.feedback-form input:-ms-input-placeholder, .feedback-form textarea:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.feedback-form input::-ms-input-placeholder, .feedback-form textarea::-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-feedback .button {
  padding: 11px 24px;
  margin-bottom: 10px;
}