/* ГЛОБАЛЬНЫЕ СТИЛИ */

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* ОБЩИЕ СТИЛИ */

.container {
  width: 1146px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  color: #ffffff;
  vertical-align: middle;

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 25px;

  cursor: pointer;
}

.button:hover,
.button:focus {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}

.button:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to top, #e74a35, #f26843);
}

.site-wrapper {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png");
}

/* HEADER  */

.main-header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.main-header-logo {
  display: block;
  width: 154px;
  height: 64px;
  padding-top: 10px;
}

.main-navigation {
  display: flex;
  width: 990px;
  margin-left: auto;
  padding-top: 21px;
  line-height: 18px;
  font-weight: 700;
}

.site-navigation,
.user-navigation,
.drop-down-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  display: flex;
  width: 400px;
  padding-left: 5px;
}

.button-nav {
  display: inline-block;
  vertical-align: middle;
}

.site-navigation-item {
  position: relative;
  padding: 1px 2px;
}

.site-navigation-item>a {
  padding: 8px 13px 7px;
  color: #ffffff;
}

/* подчеркивание через псевдо */
.site-navigation-item>a::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.site-navigation-current>a::after {
  content: "";
  background: none;
}

.site-navigation-item>a:hover,
.site-navigation-item>a:focus {
  padding: 8px 13px 7px;
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 25px;
}

.site-navigation-item>a:active {
  padding: 8px 13px 7px;
  color: #323232;
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
  border-radius: 25px;
}

.site-navigation-current>a,
.site-navigation-current>a:hover,
.site-navigation-current>a:focus,
.site-navigation-current>a:active {
  color: #ffffff;
  background-color: #d07058;
  border-radius: 25px;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  width: 280px;
}

.user-navigation-item {
  position: relative;
  padding: 0px 3px;
}

.user-navigation a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.user-navigation-item span {
  padding-left: 4px;
}

.button-search {
  padding: 7px;
}

.button-login,
.button-cart {
  padding: 7px 19px;
}

.button-search:hover path,
.button-search:focus path,
.button-login:hover path,
.button-login:focus path {
  fill: #323232;
}

.user-navigation .button-cart:hover,
.user-navigation .button-cart:focus {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation .button-full-cart,
.user-navigation .button-full-cart:hover,
.user-navigation .button-full-cart:focus,
.user-navigation .button-full-cart:active {
  color: #323232;
  background-color: rgb(248, 247, 244, 0.99);
}

.shopping-cart {
  display: none;
}

.contacts {
  width: 200px;
  margin-left: auto;
  text-align: right;
}

.contacts p {
  margin: 0;
  margin-top: -4px;
}

.contacts span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.contacts a {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.drop-down-list,
.popup-search,
.popup-login {
  /* display: none; */
  position: absolute;
  top: 38px;
  left: -5px;
  z-index: 1;
}

.site-navigation-catalog:hover .drop-down-list,
.user-navigation-search:hover .popup-search,
.user-navigation-login:hover .popup-login {
  display: block;
}

.drop-down-list {
  width: 103px;
  padding: 11px 21px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
}

.drop-down-list li {
  padding-bottom: 13px;
}

.drop-down-list li:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.drop-down-list a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.drop-down-list .new-items {
  font-weight: 700;
}

/* СЛАЙДЕР */

.slider {
  position: relative;

  padding-top: 321px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider .button {
  padding: 12px 44px;

  font-size: 31px;
  line-height: 41px;

  border-radius: 50px;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover,
.slider-controls label:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider-controls label:active {
  background-color: #ffffff;
}

#product-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#product-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#product-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
  display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/* СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ */

.special-offers {
  font-size: 18px;
  font-weight: 700;
}

.special-offers h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.special-offers .button {
  padding: 15px 19px;
}

.raspberry-stock {
  background-color: #a23552;
  background: url("../img/raspberry-bg.jpg") no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.chocolate-stock {
  background-color: #24130a;
  background: url("../img/choсolate-bg.jpg") no-repeat;
  background-size: cover;
  border-radius: 15px;
}

/* ХИТЫ ПРОДАЖ И КАТАЛОГ СЛИВОЧНОГО МОРОЖЕНОГО */

.bestseller-item span,
.catalog-item span {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.bestseller-item b,
.catalog-item b {
  font-size: 45px;
}

.bestseller-item a,
.catalog-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.bestseller-item h3,
.catalog-item h3 {
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.bestsellers-list,
.catalog-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.bestseller-item,
.catalog-item {
  position: relative;
}

.bestseller-item::before {
  position: absolute;
  content: url("../img/hit.svg");
  width: 61px;
  height: 61px;
  top: 0;
  left: 0;
}

.bestsellers .button,
.catalog .button {
  position: absolute;
  z-index: 1;
  display: none;
  padding: 13px 17px;
}

.bestseller-item:hover .button,
.catalog-item:hover .button {
  display: inline-block;
}

.bestseller-item:hover,
.catalog-item:hover {
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

/* ПРЕИМУЩЕСТВА */

.features {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;

  background-color: #efe4cb;
  background-image: url("../img/waffle-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-item {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.feature-item-icecream:before {
  content: url("../img/ice-cream.svg");
}

.feature-item-cow:before {
  content: url("../img/cow.svg");
}

.feature-item-eco:before {
  content: url("../img/eco.svg");
}

.feature-item-thermometer:before {
  content: url("../img/thermometer.svg");
}

/* НОВОЕ В БЛОГЕ */

.blog-news {
  background-color: #ffffff;
  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.blog-news h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.blog-news a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
}

.blog-news a:hover,
.blog-news a:focus,
.blog-news a:active {
  color: #e84d37;
}

/* ПОДПИСКА */

.subscription {
  box-sizing: border-box;
  width: 560px;
  min-height: 220px;
  padding: 5px;
  color: #5a5a5a;
  background-color: #92cdff;
  background-image: url("../img/bg-post.svg");
  background-repeat: repeat-y;
  background-position: 0 0;
  border-radius: 15px;
}

.wrapper-subscription {
  background-color: #f8f7f4;
  border-radius: 15px;
}

.wrapper-subscription p {
  margin: 0;
}

.subscription .button {
  padding: 14px 19px 13px 19px;
}

/* КАРТА И КОНТАКТЫ */

.gllacy-map {
  position: relative;

  width: 100vw;
  text-align: center;
  background-color: #e3dbc3;
}

.gllacy-map img {
  position: relative;
  z-index: 1;
  width: 100vw;
}

.gllacy-map img::before {
  position: absolute;
  content: url("../img/pin.svg");
  width: 80px;
  height: 140px;
  top: calc(50% + 138px);

  left: 0;
  z-index: 10;
}

.wrapper-contacts {
  position: absolute;
  z-index: 10;
  width: 302px;
  top: calc(50% - 151px);
  right: calc(50vw - 690px);

  font-size: 14px;
  line-height: 20px;
  color: #323232;
  text-align: left;

  background-color: rgba(255, 255, 255, 0.98);
}

.wrapper-contacts a {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
}

.wrapper-contacts .button {
  color: #ffffff;
  padding: 13px 27px 13px 28px;
}

/* ХЛЕБНЫЕ КРОШКИ В КАТАЛОГЕ */

.inner-page h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs {
  padding: 0;
  margin: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 42px;
}

.breadcrumbs li::after {
  content: "»";

  position: absolute;
  top: 8px;
  right: -20px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs-current::after {
  display: none;
}

/* СОРТИРОВКА И ФИЛЬТРЫ */

.sorting-filtres fieldset {
  border: none;
}

.sorting-filtres legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.sorting-cover,
.filter-cover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.sorting-filtres select[name="sorting"] {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 96% 50%;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.sorting-filtres select[name="sorting"]:hover,
.sorting-filtres select[name="sorting"]:focus {
  color: #323232;

  background-image: url("../img/icon-down-dir.svg");
}

.sorting option {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  vertical-align: top;
}

.price-controls input {
  width: 45px;
  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  box-sizing: border-box;
  width: 220px;
  height: 37px;
}

.range-controls .scale {
  height: 4px;

  background: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
  width: 55%;
  height: 4px;
  margin-left: 22px;

  background: rgb(248, 247, 244);
}

.range-toggle {
  position: absolute;
  top: -8px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 2px;

  border: 8px solid rgb(255, 255, 255);
  background-color: rgb(171, 171, 171);
  border-radius: 50%;
}

.range-controls .range-toggle:hover {
  top: -8px;

  border-width: 10px;
}

.range-controls .range-toggle-min {
  left: 22px;
}

.range-controls .range-toggle-min:hover {
  left: 20px;
}

.range-controls .range-toggle-max {
  left: 132px;
}

.range-controls .range-toggle-max:hover {
  left: 130px;
}

.filter-fat-list,
.filter-topping-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.filter-option label {
  line-height: 22px;
  font-weight: 400;

  position: relative;
  padding-left: 45px;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-radio+label::before,
.filter-input-checkbox+label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-input-radio+label::before {
  width: 26px;
  height: 26px;

  background-image: url("../img/radio-off.svg");
}

.filter-input-checkbox+label::before {
  width: 24px;
  height: 24px;

  background-image: url("../img/checkbox-off.svg");
}

.filter-input-radio:checked+label::before {
  width: 26px;
  height: 26px;

  background-image: url("../img/radio-on.svg");
}

.filter-input-checkbox:checked+label::before {
  width: 28px;
  height: 24px;

  background-image: url("../img/checkbox-on.svg");
}

.filter-input:disabled+label {
  opacity: 0.4;
  outline: none;
}

.filter-input:hover+label::before,
.filter-input:focus+label::before {
  opacity: 1;
  outline: 2px solid #4D90FE;
}

.button-filter {
  padding: 7px 26px 6px 26px;
  line-height: 22px;
  font-weight: 500;
  text-shadow: none;
  border: solid 2px #ffffff;
  background: none;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
}

.button-filter:hover,
.button-filter:focus {
  color: #323232;
  box-shadow: none;
  background-image: none;
  background-color: #ffffff;
  border: solid 2px #ffffff;
}

.button-filter:active {
  padding: 9px 28px 8px 28px;
  color: #323232;
  background-image: none;
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
  border: none;
}

/* ПАГИНАЦИЯ */

.pagination-list {

  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-item a {
  display: block;
  width: 27px;
  height: 26px;

  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #ffffff;

  text-align: center;
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: #323232;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pagination-item a:active,
.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}

.pagination-item-back a:hover,
.pagination-item-back a:focus,
.pagination-item-back a:active .pagination-item-next a:hover,
.pagination-item-next a:focus,
.pagination-item-next a:active {
  background-color: transparent;
}

.back-disabled svg {
  fill: rgba(255, 255, 255, 0.2);
  transform: scaleX(1);
  transform: scaleX(-1);

}

/* ПОДВАЛ */

.footer {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.socialmedia-list,
.information-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.socialmedia-button path {
  fill: rgba(255, 255, 255, 0.8);
}

.socialmedia-button:hover path,
.socialmedia-button:focus path {
  fill: #ffffff;
}

.socialmedia-button:active path,
.socialmedia-button:active path {
  background-color: #e9e9e9;
}

.socialmedia-button {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.information-list a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.information-item:first-child a {
  font-weight: 700;
}

.copyright a:last-child {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.information-list a:hover,
.information-list a:focus,
.information-list a:active,
.copyright a:hover:last-child,
.copyright a:focus:last-child,
.copyright a:active:last-child {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

/* ФОРМА ОБРАТНОЙ СВЯЗИ */

.modal-feedback {
  display: none;
}
